

.logo {
    width:8rem;
    padding:20px;
}
.logo_div {
    height:5rem;
}
.right_one {
    display: flex;
    justify-content: space-between;
    
    cursor: pointer;
}
.right_one:hover {
    background-color: rgb(242, 247, 248);
}
.in_a_line {
    display:flex;
    
}
.in_a_line:hover {
    background-color: rgb(242, 247, 248);
}
.icon {
    margin: 20px;
   
}
.space {
    padding-left:3.5rem;
    font-weight:600;
}
.rone {
    display: flex;
    justify-content: space-between;  
   
    cursor: pointer;
}
.rone:hover {
    background-color: rgb(242, 247, 248);
    color: rgb(5, 5, 83);
  
}
.size {
    font-weight:500;
    padding-top: 15px;
    color:rgb(5, 5, 58)
}
.size_1 {
    font-weight:600;
    font-size: 16px;
    color:gray;
    padding-left: 20px;
    font-weight: 'Roboto';
    margin-top: 1rem;
}
.but {
    width:4rem;
    height:2rem;
    border-radius:16px;
    border:none;
    background-color: rgb(168, 243, 212);
    color: rgb(27, 223, 141);
    font-weight: bolder;
    margin-right: 20px;
    margin-top: 10px;
  
  }
  .bottom {
    width:90%;
    height:3rem;
    border-radius:10px;
    border:none;
    background-color:rgb(131, 131, 245);
    color:#fff;
    font-weight: 500;
    margin-bottom:1rem !important;
    margin:1rem;
    
    

   
  }
  .avatar_new {
    vertical-align: middle;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin:5px
  }
  .container {
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    display: flex;
  }
  .container .btn-holder {
    justify-content: flex-end;
    display: flex;
  }
  .main_div {
   display:flex;
    flex-direction:column; 
    justify-content:space-between; 
    height:100vh;
    border: 1px solid rgba(201, 201, 204, 0.719);
   
  }
  .drop {
     background-color: #fff;
     padding-left:3.5rem;
     padding-top: 10px;
  }