.home {
    background-color: rgb(170, 170, 243);

padding:2rem;

}
.home_1 {
   
  
   display:flex;
   width:100%;
   
   
 
 
}
.sidebar {
   width:19%;
   position:fixed
}
.right_side {
    width:81%;
    margin-left: auto;
}
@media screen and (min-width: 200px)  and (max-width:999px){

    
.sidebar {
    display: none;
}

    .right_side {
        width:100%
    }
}