.home {
    background-color: rgb(170, 170, 243);

padding:2rem;

}
.home_1 {
   
   border-radius: 20px;
   border:none;
   display:flex;
   background-color: #fff;
 
   
 
   justify-content: center;
}
@media screen and (min-width: 200px)  and (max-width:999px){

    
.sidebar {
    display: none;
}

    .right_side {
        width:100%
    }
}